<ion-view >
  <ion-nav-bar>
    <ion-nav-title>เข้าสู่ระบบ</ion-nav-title>
  </ion-nav-bar>
<ion-content>

<div class="list">

  <label class="item item-input">
    <span class="input-label">User</span>
    <input type="text" placeholder="ชื่อผู้ใช้งาน" ng-model="form.txt_usr">
  </label>

  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password" placeholder="รหัสผ่าน" ng-model="form.txt_pwd">
  </label>

  <button class="button button-full" ng-click="btnLogin()">Login</button>

</div>

  </ion-content>

</ion-view>
