<ion-view>
  <ion-nav-bar>
    <ion-nav-title>รายละเอียด</ion-nav-title>
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <button class="button-icon icon ion-chevron-left" ng-click="btnBack();">
      Back
    </button>
  </ion-nav-buttons>
	<ion-content>
    <img src="img/ionic.png" style="margin-left:auto; margin-right:auto; display:block; padding:2em">
    <div class="list" ng-repeat="data in myDataArray">
        <div class="item item-icon-left">
          <i class="icon ion-ios-information-empty"></i>
          เบอร์โคลน : {{data.CloneCode}}
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-ios-information-empty"></i>
          พ่อพันธุ์ : {{data.Father}}
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-ios-information-empty"></i>
          แม่พันธุ์ : {{data.Mother}}
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-ios-information-empty"></i>
          วันเวลาที่เก็บข้อมูล :{{data.CollectingTime}}
        </div>
    </div>
    <button class="button button-full" ng-click="btnCall();">OK</button>
  </ion-content>
</ion-view>
